@font-face {
  font-family: "poppins-r";
  src: url("../font/poppins-regular.ttf");
}

@font-face {
  font-family: "poppins-eb";
  src: url("../font/poppins-extra-bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins-r";
}

body {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "poppins-eb";
}

.intro {
  width: 50%;
  text-align: center;
  margin: 20px auto 40px;
}

.intro h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro p {
  color: #777;
}

@media (max-width: 785px) {
  .intro {
    width: 100%;
    margin: 20px auto;
  }

  .intro h1 {
    font-size: 1.8em;
  }

  .intro p {
    font-size: .95em;
  }
}

.benefits {
  width: 550px;
  height: 550px;
  margin: 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #333;
  background-image: url("../images/data-center.jpg");
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  color: white;
}

@media (max-width: 785px) {
  .benefits {
    width: 100%;
    min-height: 650px;
    border-radius: 5px;
    align-items: flex-end;
    padding-bottom: 25px;
    margin: 10px auto;
  }
}

.benefits .main {
  width: 75%;
  text-align: center;
}

.benefits .main h2 {
  text-transform: uppercase;
}

.benefits .main p {
  width: 95%;
  font-size: .95em;
  margin-top: 10px;
}

@media (max-width: 785px) {
  .benefits .main {
    width: 90%;
  }

  .benefits .main h2 {
    font-size: 1.4em;
  }

  .benefits .main p {
    width: 95%;
    margin: 0 auto;
    font-size: .9em;
  }
}

.branch {
  width: 70%;
  padding: 10px;
  position: absolute;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  transition: .4s;
}

.branch .img-box {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--bgColor);
  border: 4px solid white;
  background-image: var(--srcImage);
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: center center;
  pointer-events: none;
}

.branch .content {
  width: calc(100% - 85px);
  pointer-events: none;
}

.branch h3 {
  color: #242424;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.branch .content p {
  margin-top: 10px;
  font-size: .9em;
  color: #777;
}

@media (max-width: 785px) {
  .branch {
    width: 98%;
    border-radius: 4px;
    background-color: rgba(220,220,220,.9);
    padding: 6px;
  }
  .branch .content h3 {
    text-transform: capitalize;
    font-size: 1em;
    
  }

  .branch .content p {
    font-size: .8em;
    margin-top: 5px;
    color: #444;
  }
}

.processor .content,
.tree-chart .content {
  padding-left: 15px;
}

.processor {
  top: -10px;
  left: calc(-55% + 74px);
  flex-direction: row-reverse;
}

.server {
  top: -10px;
  right: calc(-55% + 74px);
}

.tree-chart {
  bottom: -10px;
  left: calc(-55% + 74px);
  flex-direction: row-reverse;
}

.idea {
  bottom: -10px;
  right: calc(-55% + 74px);
}

@media (max-width: 785px) {
  .processor {
    top: 3px;
    left: 1%;
    flex-direction: row-reverse;
  }

  .server {
    top: 106px;
    right: 1%;
  }

  .tree-chart {
    bottom: auto;
    top: 209px;
    left: 1%;
    flex-direction: row-reverse;
  }

  .idea {
    bottom: auto;
    top: 312px;
    right: 1%;
  }
}